body {
    font-family: 'Lora';
    background: url("../img/bg.jpg");
   
   
  }
section{
    height:100vh;  
    display: flex;
    justify-content: center;
    align-content: center; 
}
#navbarResponsive{
    writing-mode: vertical-lr; /* Let navbar vertical*/
} 
