body {
    font-family: 'Lora';
    background-image: url("../img/bg.jpg");
}

/*------------header global--------------*/
header{ 
    height: 20vh;
    padding: 0; 
    display: block;
    position: relative;
}  
nav{
    top:0;
    display: block;
    position: absolute;
    transition: 0.5s;
    background-color: transparent;
    opacity: 1;
} 
#navbarResponsive{
    width: 100%;
} 
/* Let navbar vertical*/
.vertical{
    writing-mode: vertical-lr; 
}
#mainNav .nav-hover a:hover{
    -webkit-transform:rotateY(360deg); 
    -moz-transform:rotateY(360deg); 
    -ms-transform:rotateY(360deg); 
    transform:rotateY(360deg); 
    transition: 1.5s;
}
.nav-item span{
    font-size: 18px;
}
#nav-intro{
    top: 0;
    left: 85%;
    position: absolute;
}

/*home logo*/
#site-logo .logo .logo-img{
    width: 100%;
    height: 150px;
    left:10px;
    top:-10px;
    position: relative;
    transition: 0s;
}

.toggle-logo-img{
    width: 15vh;
    height: 10vh;
}

/*toggler icon transform*/
.icon-bar{
    width: 22px;
    height: 2px;
    transition: all 0.2s;
    display: block;
    margin: 5px;    
    background-color: black;
}
.navbar-toggler.x .icon-bar:nth-of-type(1) {
    transform: rotate(-45deg) translate(-3px,5px);
}
.navbar-toggler.x .icon-bar:nth-of-type(2) {
	opacity: 0;
}
.navbar-toggler.x .icon-bar:nth-of-type(3) {
	transform: rotate(45deg) translate(-3px,-7px);
}


/* ANIMATED X COLLAPSED */
.navbar-toggler.x.collapsed .icon-bar:nth-of-type(1),.navbar-toggler.x.collapsed .icon-bar:nth-of-type(3)  {
	transform: rotate(0);
}
.navbar-toggler.x.collapsed .icon-bar:nth-of-type(2) {
	opacity: 1;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px)  { 
    header{ 
        height: 10vh;
        padding: 0; 
        display: block;
        position: relative;
    }    
    #mainNav .nav-item a:hover{
        transition: 0s;
    }
    nav{
        background-color: antiquewhite;
        opacity: 0.8;
    }
}
/* Large devices (desktops, less than 1200px) */
@media (min-width: 768px) and (max-width: 1199.98px) { 
    #site-logo {
        height: 80%;
        width: 30vh; 
    }
}
@media (min-width: 1200px){
      
    /*------------navbar--------------*/
    #site-logo {
        height: 80%;
        width: 33vh; 
    }
}
/*------------navbar end--------------*/


/* wrapeer carousel */
.image-wrapper{
    top:0;
    width: 100%;  
    height: 80vh;
    position: relative;
}         
.image-wrapper .carousel-item{                       /* header bg img css*/
    top:0;
    left:4%;
    width:92%;  
    height:80vh;
    position: absolute;
}  
.carousel-item img{                                 /* header bg img css*/
    top:0;
    left:0;
    width:100%;  
    height: auto;
    position: absolute;
    transition: 5s;
}

.carousel-item:after {
    display: block;
    content: ' ';
    position: absolute;
    bottom: 0;
    left: -1px;
    right: -1px; 
    height: 40px;
    background-image: url(../img/frame_b.png);
    background-position: center 0;
    z-index: 100;
}
   
#header-info{
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: 11;
}
/*------------header end--------------*/
#detail{
    height:100vh;  
    top:0;
    background-color: cornsilk;
    position: relative;
    justify-content: center;
    align-content: center; 
   
}





